/* -------------------------------- Responsive layout (PC First)------------------------------------- */

@media screen and (min-width: 1200px) {
    #debug {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    #debug small:after {
        color: blueviolet;
        content: "max-width: 1200px";
    }
}

/* ##Device = Tablets, Ipads (portrait), ##Screen = B/w 768px to 1024px */
/* @media (min-width: 768px) and (max-width: 1024px) {
    #debug small:after {
        content: "(min-width: 768px) and (max-width: 1024px)";
        color: blue;
    }
} */

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .navbar,
    .navbar ul,
    .navbar li,
    .cards{
        flex-direction: column;
        min-height: 0;
    }

    .navbar li > a{
        padding: 8px;
    }

    .cards > .card{
        padding: 0;
        margin: 0;
    }

    #debug small:after {
        content: "min-width: 700px";
        color: red;
    }

}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .row {
        flex-direction: column;
    }

    #debug small:after {
        content: "min-width: 400px";
        color:green;
    }
    #content {
        content: "Use table or PC for best performers.";
    }
}

/* Less from iPhone 4 */
@media screen and (max-device-width: 320px) {
    #debug small:after {
        content: "max-device-width: 320px";
        color:green;
    }
}