:root {
    --color-white:white;
    --color-black:black;
    --color-dark:#373737;
    --color-green:#28a745;
    --color-red:#dc3545;
    --color-orange:#ff6600;

    --color-gray-dark:#333333;
    --color-gray:#646464;
    --color-gray-light:#959595;
    --color-gray-text:#cacaca;
    --color-gray-line:#dedede;

    --color-light-red:#feaec8;
    --color-light-blue:#99d9e9;
    --color-light-yellow:#efe4b0;
    --color-light-pink:#c7bfe6;

    --color-links:#0275d8;
    --color-bg:#f1f1f1; /* #ededed #f1f1f1 #f2f2f2 #fcfcfc #fbfbfb */
    /*--color-bg-hover:#ddd;*/
    --color-hover:#1795ec;
    --color-active:#4299E1; /* == --color-info */
    --color-border:#ccc;
    --color-submit:#4caf50;
    --color-submit-hover:#45a049;
    --color-logo:#517cc6;

    --color-success:#c1ffde; /* #c1ffde #dbfff8 */
    --color-danger:#ffcede;
    --color-error:#e00;
    --color-info:#4299E1;

    /* Constants */
    --radius: 5px;
    --space: 20px;
    --font-size: 14px;
}

body {
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: var(--font-size);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

ul {
    list-style-type: square;
    display: block;
    margin: 10px 0;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: var(--color-links);
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
}

body > header  {
    background-color: var(--color-bg);
    min-height: 60px;
}

body > header svg {
    position: absolute;
    top: 5px;
    right: 10px;
}

h1, h2, h3 {
    padding: 0 20px 10px 0;
    margin: 0;
}

/* ------------------------------------------------------------------------ */
/* main */
/* ------------------------------------------------------------------------ */

main {
    flex: 1;
    background-color: var(--color-white);
}

article {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--space);
    padding-top: 0;
}

article header {
    min-height: 30px;
}

/* ------------------------------------------------------------------------ */
/* aside */
/* ------------------------------------------------------------------------ */

aside {
    display: flex;
    flex-direction: column;
    flex: 0 20vw;
    background-color: var(--color-bg);
    padding-top: var(--space);
}

aside .focus {
    /*font-weight: 600;*/
    text-decoration: underline;
}

aside a {
    padding: 0 10px;
}

aside ul li {
    padding: 5px;
    list-style-position: inside;
    /* text-indent: 0; ??? */
}

/* ------------------------------------------------------------------------ */
/* display flex / Float */
/* ------------------------------------------------------------------------ */

.row {
    display: flex;
}

/*
flex: auto;
This is equivalent to flex: 1 1 auto. Beware, this is not the default value.
It sizes the item based on its width/height properties, but makes it fully flexible so that they absorb any extra space along the main axis.
 */
main .row > * {
    flex: auto;
}

.column {
    display: flex;
    flex-direction: column;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* ------------------------------------------------------------------------ */
/* button role */
/* ------------------------------------------------------------------------ */


[role="button"], button {
    cursor: pointer;
}

/*span[role="button"]{*/
/*    border-color: rgb(216,216, 216) rgb(209,209,209) rgb(186,186,186);*/
/*    border-style: solid;*/
/*    border-width: 1px;*/
/*    padding: 1px 7px 2px;*/
/*    */
/*    border-radius: 5px;*/
/*    text-decoration: none;*/
/*}*/


/* ------------------------------------------------------------------------ */
/* navigation bar */
/* ------------------------------------------------------------------------ */

.navbar,
.navbar ul,
.navbar li,
.navbar .profile{
    display: flex;
}

.navbar {
    flex-wrap: wrap;
    overflow: hidden;
    background-color: var(--color-gray-dark);
    font-size: 120%;
    min-height: 60px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar > ul:first-child {
    flex-grow: 1;
}

.navbar li,
.navbar .profile{
    align-items: center;
    justify-content: center;
    color: var(--color-gray-text);
}

.navbar li > * {
    display: block;
    color: inherit;
}

.navbar a, i{
    padding: 15px 20px;
}

.navbar .profile{
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar .profile i{
    padding-left: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar .active {
    color: var(--color-black);
    background-color: var(--color-active);
    text-decoration: underline;
}

.navbar .logo span {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-logo);
}

.navbar .logo span + span {
    color: white;
}

.navbar .logo:hover,
.navbar .logout:hover {
    background-color: initial;
    text-decoration: none;
}

/* ------------------------------------------------------------------------ */
/* navigation bar languages */
/* ------------------------------------------------------------------------ */

i {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    cursor: pointer;
}

/* ------------------------------------------------------------------------ */
/* Breadcrumb Navigation */
/* ------------------------------------------------------------------------ */

ul.breadcrumb {
    padding: 0 0 20px 0;
    /* list-style: none; */
}
  
ul.breadcrumb li {
    display: inline;
}
  
/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
  
ul.breadcrumb li a {
    color: #0275d8;
}
  
ul.breadcrumb li a:hover {
    color: #01447e;
} 

/* ------------------------------------------------------------------------ */
/* Table */
/* ------------------------------------------------------------------------ */

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    font: normal normal 1em/1.6 Arial, sans-serif;
    margin-top: 20px;
    table-layout: fixed;
}

table th {
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid var(--color-gray-line);
    padding: 10px 20px 10px 0;
}

/* ------------------------------------------------------------------------ */
/* Cards */
/* ------------------------------------------------------------------------ */

.cards {
    display: flex;
}

.card {
    flex: 1;
    margin-top: var(--space);
    margin-bottom: var(--space);
    margin-right: var(--space);
    border-radius: var(--radius);
    background-color: var(--color-light-blue);
    letter-spacing: 1px;
}

.card:last-child {
    margin-right: 0;
}

.card > * {
    text-align: center;
    line-height: 1.6;
    padding-left: var(--space);
    padding-right: var(--space);
}

.card.active {
    background-color: var(--color-light-yellow);
    border: 0.5px solid var(--color-border);
    transition: 0.1s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    font-weight: 200;
    letter-spacing: 2px;
    word-spacing: 4px;
    word-break: normal;
}

.card.error {
    background-color:var(--color-danger);
}

.card:hover {
    transition: 0.1s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

/* ------------------------------------------------------------------------ */
/* control bar */
/* ------------------------------------------------------------------------ */

.bar {
    display: flex;
    flex-direction: row;
    min-height: 50px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.bar .buttons {
    display: flex;
    flex-direction: row;
    min-height: inherit;
}

.bar .toggles {
    display: flex;
    flex-direction: inherit;
    justify-content: flex-end;
    flex: auto;
    min-height: inherit;
    background-color: var(--color-bg);
}

.bar > .toggles {
    justify-content: flex-start;
}

.bar button {
    min-width: 50px;
    outline: none;
    cursor: pointer;
    padding: 0 12px 0 12px;
    transition: 0.3s;
    font-size: 120%;
    /* overflow: hidden; */
    border: none;
    background: none;
} 

.toggles button:active, 
.toggles button.active {
    background-color: var(--color-gray-light);
}

/*  mobile only */
.toggles button:hover {
    background-color: none;
    color: black;
}

/* pc only */
@media(hover: hover) and (pointer: fine) {
    .toggles button:hover {
        background-color: var(--color-gray-dark);
        color: var(--color-white);
    }
}

#start {
    width: 100px;
    color: var(--color-black);
    background-color: var(--color-active);
    border-radius: var(--radius);
}

#start.active,
#start:active {
    background-color: var(--color-dark);
    color: var(--color-red);
    font-weight: 600;
}

#row {
    padding: 0;
    margin: 0;
    min-width: 24px;
}

#row small {
    color: var(--color-dark);
    font-weight: bold;
}

/* ------------------------------------------------------------------------ */
/* user input stats */
/* ------------------------------------------------------------------------ */

.input > div:first-child > div {
    padding-bottom: 10px;
}

.input small {
    margin: 10px 10px;
    padding: 5px 10px;
}

.stats small {
    background-color: var(--color-green);
    border-radius: 5px;
}

.stats > small:first-child {
    background-color: var(--color-red);
}

.counts small {
    font-weight: bold;
    color: var(--color-dark);
}

.input {
    border-radius: var(--radius);
    background-color: #f1f1f1;
    padding: 12px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=file],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 8px;
    resize: vertical;
    outline: none;
    transition: all 0.10s ease-in-out;
}

textarea {
    height: 80px;
    font-size: 120%;
}

textarea:active,
textarea:focus{
    border: 1.6px solid var(--color-dark);
    box-shadow: 0 0 2px var(--color-gray-light);
}
/* ------------------------------------------------------------------------ */
/* virtual keyboard */
/* ------------------------------------------------------------------------ */
.keyboard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* keyboard rows*/
.keyboard div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.keyboard .item {
    flex-grow: 0;
    box-sizing: border-box;
    border-radius: var(--radius);
    font-size: 120%;

    padding: 0.1rem 0.9rem 0.9rem 0.1rem;
    margin: 3px 3px;
    min-width: 3rem;
    min-height: 3rem;
}
/* Enter, del */
.keyboard button[value='\00000a'],
.keyboard button[value='del']{
    min-width: 5rem;
    padding: 0.8rem;
}

.keyboard button[value='.'],
.keyboard button[value=','],
.keyboard button[value='-'],
.keyboard button[value='!'],
.keyboard button[value='?'],
.keyboard button[value='#'],
.keyboard button[value='shift']{
    padding: 0.9rem 0.9rem 0.1rem 0.1rem;
}
/* space */
.keyboard .other > button:first-child {
    margin-left: 1.75rem;
    min-width: 25.5rem;
}
/* second row */
.keyboard > div:nth-child(2) > button:first-child {
    margin-left: 1.75rem;
}

/* ------------------------------------------------------------------------ */
/* Tags */
/* ------------------------------------------------------------------------ */

.tags {
    display: table;
    margin-top: var(--space);
    float: left;
    clear: both;
    width: 100%;
    color: var(--color-gray-dark);
}

.tags .heading {
    /* font-family: inherit; */
    font-family: "Open Sans",Arial,sans-serif;

    color: #999;
    border-top: none;
    font-weight: 600;
    font-size: 80%;
    line-height: 30px;
    text-transform: uppercase;
    display: block;
}

.heading {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.tags .tag {
    float: left;
    text-align: center;
    font-size: 70%;
    margin: 10px 10px 0 0;
    text-transform: uppercase;
    background: var(--color-gray-light);
}

.tags .tag a, 
.tags .tag a:visited {
    display: block;
    padding: 10px;
    color: var(--color-white);
}

.tags .tag a:hover {
    color: var(--color-black);
}

/* ------------------------------------------------------------------------ */
/* Footer */
/* ------------------------------------------------------------------------ */

footer {
    text-align: center;
    color: var(--color-white);
    background: var(--color-dark);
    width: 100%;
    padding: 16px;
}

/* ------------------------------------------------------------------------ */
/* status & messages & alerts */
/* ------------------------------------------------------------------------ */

.error {
    border: 2p solid var(--color-dark);
    background-color:var(--color-danger);
}

.success {
    border: 2p solid var(--color-dark);
    background-color: var(--color-success);
}

.info {
    border: 2p solid var(--color-dark);
    background-color: var(--color-info);
}

.notify-box {
    display: flex;
    flex-direction: column;
}

.row > .notify-box {
    flex: 0 1 auto;
}

/* ------------------------------------------------------------------------ */
/* notify-box -> msg-box */
/* ------------------------------------------------------------------------ */

.msg-box {
    display: flex;
    flex-direction: row;
    padding: 6px 0 0 0;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
}

.msg-box .msg-item {
    color: inherit;
    padding: 0;
    margin: 0
}

.msg-box svg.msg-item {
    margin-right: 5px;
}

.msg-box strong {
    margin-right: 5px;
}

.msg-title {
    margin: 10px 0 0 0;
    font-size: 90%;
    color: var(--color-dark);
}

.msg-title p {
    font-size: inherit;
    font-weight: bold;
}

.msg-title ul {
    list-style-type: none;
    margin: 0;
    padding: 4px 0 0 var(--space);
}

.msg-title li{
    font-size: inherit;
}

/* ------------------------------------------------------------------------ */
/* notify-box -> alert-box */
/* ------------------------------------------------------------------------ */

.alert-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    box-sizing: border-box;

    min-height: 100%;
    min-width: 35vw;
    /*border: 1px solid transparent;*/
    border-radius: .25rem;

    padding: 0 .5rem 0 .5rem;
    margin: 0.1pt 0 0.1pt 0;
    /*transition: 0 300ms ease-in;*/
}

.alert-box > * {
    box-sizing: inherit;
    margin-right: .5rem;
    flex-shrink: 0;
}

.alert-box > span {
    padding: 0.25rem;
}

.alert-box .ticker {
    position: absolute;
    top: 1pt;
    right: 1pt;
}

.alert-box .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem .5rem;
}

/* ------------------------------------------------------------------------ */
/* go-top */
/* ------------------------------------------------------------------------ */

.go-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    border-radius: var(--radius);
    color: var(--color-white);
    background-color: var(--color-gray-dark);
    transition: 0.25s;
}
.go-top:hover {
    cursor: pointer;
    color: var(--color-black);
    background-color: var(--color-hover);
}
.go-top svg {
    display: block;
    color: inherit;
    /*width: 2.25em;*/
    /*height: 2.25em;*/
}

/* ------------------------------------------------------------------------ */
/* Maps */
/* ------------------------------------------------------------------------ */

.map path {
    fill: hsl(220,50%,80%); stroke-width: 1px; transition: all 0.6s
}

.map path:hover {
    fill: hsl(220,50%,60%);
}

.map .active {
    fill: hsl(220,50%,60%);
}

.maps > div {
    display: flex;
    flex-basis: 50%;
}

.maps > div:first-child svg{
    height: auto;
    width: 100%;
}

.maps > div:last-child svg{
    height: 60px;
    width: auto;
}

.maps h3, small {
    padding: 10px 0 10px 0;
}

/* ------------------------------------------------------------------------ */
/* temp */
/* ------------------------------------------------------------------------ */