<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head">
    <title></title>
</head>

<body>
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit" value="Logout" />
    </form>
    <header th:replace="fragments/commons :: header1"></header>
    <nav th:replace="fragments/commons :: navigation"></nav>
    <main th:replace="fragments/commons :: main"></main>

    <button th:replace="fragments/commons :: go-top"></button>
    <footer th:replace="fragments/commons :: footer"></footer>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        document.getElementsByClassName("logout")[0].addEventListener("click", function (e) {
            e.preventDefault();
            document.logoutForm.submit();
        })
    });
</script>
</html>