<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="layouts/layout-server :: layout(~{::title}, ~{::#header}, ~{::#content}, ~{::#links})">

<title>Login</title>
<header id="header">
    <h2>Please sign in</h2>
    <hr>
</header>

<section id="content">
    <p sec:authorize="isAuthenticated()" class="alert alert-danger">Error 304 - This account is already logged in: <span sec:authentication="name"></span></p>
    <form class="form-signin" th:action="@{/users/login}" method="POST">
        <div th:if="${bad_credentials}" class="alert alert-danger" role="alert">
            This username and password combination does not exist.
        </div>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input id="username"
                   type="text"
                   th:value="${username}"
                   name="username"
                   class="form-control"
                   placeholder="Username"
                   autocomplete="off"
                   spellcheck="false"
                   required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password"
                   id="password"
                   name="password"
                   class="form-control"
                   placeholder="Password"
                   required="">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <div class="form-group">
            <p class="text-left">Don't have account? <a href="/users/register">Sign up here</a></p>
        </div>
    </form>
</section>
<th:block id="links">
    <!-- javascript, css source files -->
    <link rel="stylesheet" href="/css/external/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/dev/main.css" type="text/css">
    <link rel="stylesheet" href="/css/dev/server.css" type="text/css">
</th:block>
</html>